Source: oblong-plasma-web-proxy-gs3.23x
Section: non-free/misc
Priority: extra
Maintainer: buildtools <buildtools@oblong.com>
Build-Depends: debhelper (>= 7),
   build-essential,
   oblong-nodejs,
Standards-Version: 3.8.3
Vcs-Git: git.oblong.com:/ob/git/repo/plasma-web-proxy.git

Package: oblong-plasma-web-proxy-gs3.23x
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         oblong-nodejs,
	 oblong-system-protist3.23,
Description: Allows listening / depositing to pools via an HTTP and Websocket interface.
